*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity: 1;
}

html,
body{
    margin: 0 auto;
    background-color: #bb9871;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

a { 
    text-decoration:none;
    color: #e1f0db;
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
}

.Header {
    width: 100%;
    color: #c1c1c1;
    font-size: 24px;
    position: -webkit-fixed;
    position: fixed;
    height: 56px;
    top: 0;
    z-index: 1;
}
.Header-Container {
    padding-top: 56px;
}
.Header .Nav {
    padding: 0 15px;
    background-color: #000;
    height: 56px;
    border-bottom: 1px solid #333;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}
.Header .Nav .Brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
    cursor: pointer;
}
.Header .Nav .Brand span.Flag {
    color: #fff;
    background: #ed2333;
    border-radius: 0.25rem;
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    line-height: 30px;
}

.mask {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.mask-b {
    display: none;
    z-index: 10010;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}


.mk {
    width: 350px;
    height: 400px;
    position: relative;
    box-sizing: border-box;
    padding: 10px 15px;
    text-align: center;
    border-radius: 25px;
    display: inline-block;
    background-color: #000000;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
    
}

.hover-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    text-align: center;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    transform:translate(-50%,-50%);
}

.logo {
    width: 180px;
    margin: 0 auto;
}

.title {
    width: 90%;
    margin: 4% auto 0;
    font-size: 1.9rem;
    color: #e1f0db;
}

.link_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 30px 0 20px;
}

.link_content .btn {
    width: 55%;
    max-width: 170px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin: 7.5px 9px;
    border-radius: 35px;
    background: rgba(0,0,0,.5);
    border: 1px solid;
    color: #e1f0db;
    font-size: .9375em;
    cursor: pointer;
    position: relative;
}

.link_content .btn .a1{
    color: #e0b585;
}

.link_content .btn .a2{
    color: #62ff00;
}

.siteurl {
    font-size: 14px;
    line-height: 30px;
    margin: 2% auto 0;
}

.urls {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    border-radius: 0.9rem;
    padding: 0 8px;
    color: #e1f0db;
    margin-bottom: 20px;
}

.bg-color-blue {
    background-color: #43c1ff;
  }

.imgs {
    width: 100%;
}